*.swo
*.swp
*.kpf
*.nfs*
.cache
.project
.idea
.settings
*CVS/Entries
*CVS/Repository
*CVS/Root
Thumbs.db
.buildpath
.kde*
*.kdev4
*~
.directory
*.pidaproject
.tags
~*
*.lock
.DS_Store
nbproject
.externalToolBuilders*
libraries/ac/test/report*
*_gsdata_*
libraries/rv/rv_encrypt.php
dompdf/lib/fonts/log.htm
atlassian-ide-plugin.xml
githash.txt
vendor
